<h1>Imports</h1>

In [3]:
import pandas as pd

In [3]:
CustomerDF = pd.read_csv('/Users/saurabhpalande/Data Science/DS/Python Project/CSV_s1/customers.csv',header=None,index_col=None)
CustomerDF.columns = ['CustNo','FirstName','LastName','Gender','Age','profession','contactNo','emailId','city','state','isActive','createdDate','UpdatedDate'] 
CustomerDF.to_csv('/Users/saurabhpalande/Data Science/DS/Python Project/CSV_s1/customers.csv',index=False)

ProductsDF = pd.read_csv('/Users/saurabhpalande/Data Science/DS/Python Project/CSV_s1/products.csv',header=None,index_col=None)
ProductsDF.columns = ['ProductNo','ProductName','Description','isActive','CreatedDate','UpdatedDate']
ProductsDF.to_csv('/Users/saurabhpalande/Data Science/DS/Python Project/CSV_s1/products.csv',index=False)


TransactionDF = pd.read_csv('/Users/saurabhpalande/Data Science/DS/Python Project/CSV_s1/transactions.csv',header=None,index_col=None)
TransactionDF.columns = ['TxnNo','TxnDate','CustNo','Amount','ProductNo','SpendBy']
TransactionDF.to_csv('/Users/saurabhpalande/Data Science/DS/Python Project/CSV_s1/transactions.csv',index=False)

<h1>Declarations<h1>

<H1>Use case 1 </H1>

<h3>Load all three csv datasets in Pandas Data frames and display first 5 records.</h3>

In [4]:
print(CustomerDF.head(5))
print(ProductsDF.head(5))
print(TransactionDF.head(5))

   CustNo FirstName LastName Gender  Age profession  contactNo  \
0       1    Leslie     Bass      F   27          B      37307
1       2      Judy    Burks      M   53          S      84759
2       3    Marsha    Doyle      F   48          B      80932
3       4    Alexis   Battle      M   27          S      71701
4       5    Martha    Combs      F   49          B      83947

                  emailId     city      state isActive          createdDate  \
0  endslost@everyma1l.org   Gibson   Dellwood        Y  2017-09-21 12:38:22
1  rfleming@hotma1l.co.uk  Suwanee     Trabue        Y  2017-05-22 05:29:22
2    arethe53@ma1lbox.net    Perry  Moxadarla        Y  2017-09-03 12:11:29
3      ofcame@ma1lbox.org   Morven     Dennis        Y  2017-02-16 04:05:35
4   camedied@everyma1l.us   Ocilla  Greenwood        Y  2017-05-15 07:34:35

           UpdatedDate
0  2017-10-18 12:12:28
1  2017-10-18 12:12:28
2  2017-10-18 12:12:28
3  2017-10-18 12:12:28
4  2017-10-18 12:12:28
   ProductNo ProductName Description isActive          CreatedDate  \
0          1    Product1  pgqorighfa        Y  2017-04-03 07:58:55
1          2    Product2  lmndaaweth        Y  2017-09-21 12:38:31
2          3    Product3  urifeubrhh        Y  2017-09-08 10:32:12
3          4    Product4  rlpcjxfarp        Y  2017-05-22 05:29:27
4          5    Product5  hzcpozsgfc        Y  2017-02-02 08:40:29

           UpdatedDate
0  2017-10-18 12:12:38
1  2017-10-18 12:12:38
2  2017-10-18 12:12:38
3  2017-10-18 12:12:38
4  2017-10-18 12:12:38
   TxnNo              TxnDate  CustNo  Amount  ProductNo SpendBy
0      1  2017-10-18 12:31:45     923    2559        376    Card
1      2  2017-10-18 12:31:45     219    1706        151    Card
2      3  2017-10-18 12:31:45     927    3462        707    Cash
3      4  2017-10-18 12:31:45     806     865        539    Card
4      5  2017-10-18 12:31:45     958    2494         25    Card

<H1>Use Case 2</H1>

<H3>Display only those customers from CSV_s1, who purchased more than 3 products</H3>

In [5]:
TestDF = pd.merge(CustomerDF, TransactionDF, on=['CustNo'])
productcount = TestDF.groupby('CustNo')['ProductNo'].count()
print(productcount)
ProductCountMoreThan3 = productcount[productcount > 3].index
print(ProductCountMoreThan3)
ANSDF = CustomerDF[CustomerDF['CustNo'].isin(ProductCountMoreThan3)]
print(ANSDF)

CustNo
2      2
3      1
4      4
5      1
7      1
      ..
991    1
992    3
996    1
997    2
999    1
Name: ProductNo, Length: 648, dtype: int64
Int64Index([  4,  86, 167, 187, 237, 241, 321, 326, 331, 356, 391, 537, 558,
            578, 709, 735, 753, 828, 989],
           dtype='int64', name='CustNo')
     CustNo  FirstName  LastName Gender  Age profession  contactNo  \
3         4     Alexis    Battle      M   27          S      71701
85       86     Bonnie    McCall      M   37          S      70907
166     167      Alice     Blake      F   58          B      22324
186     187       Alan   Anthony      F   50          B      40487
236     237       Dawn      West      F   26          B      75618
240     241    Derrick   Pearson      F   33          B      74138
320     321    Crystal        Le      F   64          B      37857
325     326      Heidi   Stanley      M   29          S      78822
330     331    Cynthia  Harrison      F   49          B      53439
355     356   Mitchell     Mason      M   37          S      45064
390     391      Keith    Church      F   19          B      26859
536     537       Jake      Bush      F   23          B      80535
557     558       Lois      Todd      M   58          S      39051
577     578  Christine    Murray      M   40          S      74244
708     709       Kyle    Haynes      F   44          B      30552
734     735      James     Payne      F   39          B      30415
752     753     Denise    Stokes      F   37          B      88779
827     828    Katrina    Barber      M   47          S      61069
943     989     Ronald      Mayo      F   56          B      23161

                      emailId             city       state isActive  \
3          ofcame@ma1lbox.org           Morven      Dennis        Y
85   constantlyfire@gma1l.net          Screven      Farson        Y
166   wherealways@b1zmail.biz       Homerville       Daisy        Y
186        calvarez@ma1l2u.us          Sunbury        Linn        Y
236     oncaves@everyma1l.biz           Adrian   Extension        Y
240    acarpenter@b1zmail.com         Crescent       Grove        Y
320     klawrence@hotma1l.biz      East Dublin       Thorn        Y
325        bhull@everyma1l.us     Fayetteville     Garrell        Y
330            krush@gma1l.us         Mcintosh  Bradington        Y
355      fromwhat@somema1l.us            Cecil    Lazelere        Y
390          tkeith@yah00.com          Collins       Stout        Y
536       lsharpe@somema1l.us        Doraville  Springdale        Y
557       rgarner@ma1lbox.org          Broxton   Cliffwood        Y
577     aacevedo@somema1l.org          Sirmans       Darla        Y
708        ecain@somema1l.com        Riverdale    Eastview        Y
734       inhatch@b1zmail.biz      Gainesville    Hardesty        Y
752      textas98@b1zmail.org       Twin Peaks      Alburn        Y
827     whattook@everyma1l.us  Fort Oglethorpe     Detroit        Y
943      redthrow@ma1lbox.com             Kite   Smithwood        Y

             createdDate          UpdatedDate
3    2017-02-16 04:05:35  2017-10-18 12:12:28
85   2017-10-12 07:35:28  2017-10-18 12:12:28
166  2017-05-01 08:00:29  2017-10-18 12:12:28
186  2017-05-25 04:59:16  2017-10-18 12:12:28
236  2017-03-04 01:29:08  2017-10-18 12:12:28
240  2017-04-02 05:16:41  2017-10-18 12:12:28
320  2017-08-31 06:11:45  2017-10-18 12:12:28
325  2017-08-30 04:10:06  2017-10-18 12:12:28
330  2017-05-07 12:42:19  2017-10-18 12:12:28
355  2017-09-02 06:47:20  2017-10-18 12:12:28
390  2017-08-02 01:12:49  2017-10-18 12:12:28
536  2017-03-10 03:37:40  2017-10-18 12:12:29
557  2017-10-03 05:37:28  2017-10-18 12:12:29
577  2017-02-24 01:15:33  2017-10-18 12:12:29
708  2017-06-03 07:10:55  2017-10-18 12:12:29
734  2017-04-03 05:10:16  2017-10-18 12:12:29
752  2017-04-30 05:25:57  2017-10-18 12:12:29
827  2017-04-14 06:49:04  2017-10-18 12:12:29
943  2017-10-04 04:16:09  2017-10-18 12:12:29

<H1>Use Case 3</H3>

<H3>Display top 5 most demanded products from CSV_s1</H3>

In [6]:
TestDF = pd.merge(TransactionDF,ProductsDF, on='ProductNo')
ProductNoCount = TestDF.groupby('ProductNo')['ProductNo'].count()
Top5Product = ProductNoCount.sort_values(ascending=False).head(5)
ANSDF=ProductsDF[ProductsDF['ProductNo'].isin(Top5Product.index)]
print(ANSDF)

     ProductNo ProductName Description isActive          CreatedDate  \
81          82   Product82  ignxxzodmc        Y  2017-09-24 02:57:26
232        233  Product233  yrblgllvfy        Y  2017-05-31 10:50:17
426        427  Product427  rnqzbzweys        Y  2017-09-14 10:44:57
767        768  Product768  hvfbltpjun        Y  2017-01-27 11:45:21
899        900  Product900  ouoolyahlh        N  2017-01-10 12:35:30

             UpdatedDate
81   2017-10-18 12:12:38
232  2017-10-18 12:12:38
426  2017-10-18 12:12:38
767  2017-10-18 12:12:39
899  2017-10-18 12:12:39

<H1>Use Case 4</H4>

<H3>Display top 5 transactions ​amount ​from CSV_s1</H3>

In [7]:
print(TransactionDF.sort_values('Amount', ascending=False).head(5))

     TxnNo              TxnDate  CustNo  Amount  ProductNo SpendBy
556    557  2017-10-18 12:31:46     670    4996        509    Card
305    306  2017-10-18 12:31:46     448    4992        427    Cash
574    575  2017-10-18 12:31:46     305    4981        549    Card
531    532  2017-10-18 12:31:46     230    4980        658    Card
232    233  2017-10-18 12:31:45     287    4966        685    Card

<H1>Use Case 5</H1>
<H3>Display distinct professions from CSV_s1</H3>

In [8]:
distinct_values = CustomerDF['profession'].drop_duplicates()
print(distinct_values)

0    B
1    S
Name: profession, dtype: object

<H1>Use Case 6</H1>

<H3>Display highest age in CSV_s1 customer’s dataset</H3>

In [9]:
print(CustomerDF.sort_values('Age',ascending=False).head(1))

     CustNo FirstName   LastName Gender  Age profession  contactNo  \
500     501    Morgan  Donaldson      F   64          B      52553

                emailId      city   state isActive          createdDate  \
500  ggordon8@yah00.biz  Elberton  Codell        Y  2017-08-15 01:08:02

             UpdatedDate
500  2017-10-18 12:12:29

<H1>Use Case 7</H1>

<H3>Display custno, gender, age, profession, contactno, productno, productName, txndate, spendby, amount from CSV_s1 for custno = 923
</H3>

In [10]:
TestDF = pd.merge(CustomerDF, TransactionDF, on='CustNo')
TABDF = pd.merge(TestDF,ProductsDF, on='ProductNo')
ANSDF = TABDF[TABDF['CustNo'] == 923].head(1)
Columns = ['CustNo', 'Gender', 'Age', 'profession', 'contactNo', 'ProductNo', 'ProductName', 'TxnDate', 'SpendBy', 'Amount']
result_df = ANSDF[Columns]
print(result_df)

     CustNo Gender  Age profession  contactNo  ProductNo ProductName  \
540     923      F   46          B      25436        113  Product113

                 TxnDate SpendBy  Amount
540  2017-10-18 12:31:46    Card    2303

<H1>Use Case 8</H1>

<H3>Load all three PSV (pipe separated values) dataset in Pandas Data frames and display first 5 records.</H3>

In [4]:
CustomerPSV = pd.read_csv('/Users/saurabhpalande/Data Science/DS/Python Project/PSV_s2/customers.txt',sep= '|')
ProductsPSV = pd.read_csv('/Users/saurabhpalande/Data Science/DS/Python Project/PSV_s2/products.txt',sep= '|')
TransactionPSV = pd.read_csv('/Users/saurabhpalande/Data Science/DS/Python Project/PSV_s2/transactions.txt',sep= '|')

print(CustomerPSV.head(5))
print(ProductsPSV.head(5))
print(TransactionPSV.head(5))

   1   Leslie    Bass  F  27  B  37307      endslost@everyma1l.org   Gibson  \
0  2     Judy   Burks  M  53  S  84759      rfleming@hotma1l.co.uk  Suwanee
1  3   Marsha   Doyle  F  48  B  80932        arethe53@ma1lbox.net    Perry
2  4   Alexis  Battle  M  27  S  71701          ofcame@ma1lbox.org   Morven
3  5   Martha   Combs  F  49  B  83947       camedied@everyma1l.us   Ocilla
4  6  Marilyn  Nguyen  M  57  S  72274  discoveredlist82@gma1l.org    Byron

    Dellwood  Y  2017-09-21 12:38:22  2017-10-18 12:12:28
0     Trabue  Y  2017-05-22 05:29:22  2017-10-18 12:12:28
1  Moxadarla  Y  2017-09-03 12:11:29  2017-10-18 12:12:28
2     Dennis  Y  2017-02-16 04:05:35  2017-10-18 12:12:28
3  Greenwood  Y  2017-05-15 07:34:35  2017-10-18 12:12:28
4    Wetsell  Y  2017-05-12 06:18:16  2017-10-18 12:12:28
   1  Product1  pgqorighfa  Y  2017-04-03 07:58:55  2017-10-18 12:12:38
0  2  Product2  lmndaaweth  Y  2017-09-21 12:38:31  2017-10-18 12:12:38
1  3  Product3  urifeubrhh  Y  2017-09-08 10:32:12  2017-10-18 12:12:38
2  4  Product4  rlpcjxfarp  Y  2017-05-22 05:29:27  2017-10-18 12:12:38
3  5  Product5  hzcpozsgfc  Y  2017-02-02 08:40:29  2017-10-18 12:12:38
4  6  Product6  ezhxpqxqdg  Y  2017-01-13 12:47:01  2017-10-18 12:12:38
   1  2017-10-18 12:31:45  923  2559  376  Card
0  2  2017-10-18 12:31:45  219  1706  151  Card
1  3  2017-10-18 12:31:45  927  3462  707  Cash
2  4  2017-10-18 12:31:45  806   865  539  Card
3  5  2017-10-18 12:31:45  958  2494   25  Card
4  6  2017-10-18 12:31:45   37  3782  603  Cash

<H1>Use Case 9</H1>

<H3>Load all three JSON datasets in Pandas Data frames and display first 5 records.</H3>

In [9]:
CustomerJSON = pd.read_json('/Users/saurabhpalande/Data Science/DS/Python Project/JSON_s3/customers.json', lines=True)
ProductsJSON = pd.read_json('/Users/saurabhpalande/Data Science/DS/Python Project/JSON_s3/products.json', lines=True)
TransactionJSON = pd.read_json('/Users/saurabhpalande/Data Science/DS/Python Project/JSON_s3/transactions.json', lines=True)


print(CustomerJSON.head(5))
print(ProductsJSON.head(5))
print(TransactionJSON.head(5))

   custno  firstname lastname  gender  age          profession      contactNo  \
0       1        Dai    Noble       2   53     Human Resources  1644101928099
1       2        Kay     Wise       2   26    Public Relations  1674031917099
2       3       Amir     Pace       1   43  Customer Relations  1636050509999
3       4  Sebastian    Lopez       2   32  Customer Relations  1666010108899
4       5      Brian   Maddox       1   40   Quality Assurance  1646080399299

                        emailId             city       state  isActive  \
0  eu.lacus.Quisque@loremac.com           Berlin      Berlin         1
1          ridiculus@Sednunc.ca        Oldenzaal  Overijssel         2
2    quam.Pellentesque@erat.edu          Cobourg     Ontario         2
3           magna@venenatis.net       Te Awamutu          NI         1
4         ac.facilisis@Duis.com  Greater Sudbury     Ontario         2

  createdDate UpdatedDate
0  2017-03-01  2018-08-25
1  2017-04-10  2018-08-30
2  2017-03-04  2018-09-18
3  2016-12-17  2018-09-12
4  2017-02-18  2018-05-13
   productno     productName Description  isActive createdDate UpdatedDate
0        100        Vauxhall        four         2  2016-11-21  2017-11-09
1        101          Toyota         six         2  2017-10-03  2017-11-13
2        102  General Motors         two         1  2017-09-18  2017-11-03
3        103         Renault       eight         2  2017-10-05  2017-11-13
4        104        Kenworth       three         1  2017-05-03  2017-11-04
   txnno     txndate  custno  amount  productno  spendby
0      1  2018-07-31      71     181         19        2
1      2  2017-04-02      44     401         48        2
2      3  2018-01-31      45    1808         44        2
3      4  2018-04-02      62      65         22        2
4      5  2017-08-17      88    1149         74        2

<H1>Use Case 10</H1>

<H3>Load all three XML datasets in Pandas Data frames and display first 5 records.</H3>

In [11]:
CustomerXML = pd.read_xml('/Users/saurabhpalande/Data Science/DS/Python Project/XML_s4/customers.xml')
ProductsXML = pd.read_xml('/Users/saurabhpalande/Data Science/DS/Python Project/XML_s4/products.xml')
TransactionXML = pd.read_xml('/Users/saurabhpalande/Data Science/DS/Python Project/XML_s4/transactions.xml')


print(CustomerXML.head(5))
print(ProductsXML.head(5))
print(TransactionXML.head(5))

   custno firstname  lastname  gender  age          profession      contactNo  \
0       1    Teegan   Hubbard       2   33     Human Resources  1681121691699
1       2    Deacon    Briggs       2   54  Customer Relations  1631082682999
2       3   Mallory   Shelton       1   57  Customer Relations  1627011572699
3       4     Quinn  Clements       2   43     Media Relations  1618122268999
4       5    Arthur     Hurst       2   41        Tech Support  1681021022799

                          emailId             city         state  isActive  \
0       nibh.Quisque@placerat.com       Galashiels  Selkirkshire         1
1      facilisis.eget@Nullaeu.com  Lens-Saint-Remy            LU         1
2    Curabitur.ut@Nullatempor.edu      North Shore            NI         1
3  metus.Vivamus.euismod@urna.edu          Heredia             H         1
4             in@commodoipsum.org        San Diego       Cartago         2

  createdDate UpdatedDate
0  2016-12-07  2018-09-05
1  2017-04-26  2018-06-04
2  2017-01-02  2018-08-01
3  2017-02-11  2018-07-18
4  2017-03-30  2018-05-19
   productno     productName Description  isActive createdDate UpdatedDate
0        100  Hyundai Motors       eight         2  2017-10-01  2017-11-04
1        101           Honda       eight         1  2017-04-10  2017-11-11
2        102             GMC       three         2  2017-02-09  2017-11-17
3        103           Lexus       eight         2  2017-06-01  2017-11-04
4        104           Smart        five         2  2017-08-10  2017-11-16
   txnno     txndate  custno  amount  productno  spendby
0      1  2018-09-16       6     576         73        1
1      2  2018-02-11      96    1038         40        2
2      3  2017-06-13      17     673          2        1
3      4  2017-07-25      89    1284        100        2
4      5  2017-06-15       9    1685         56        2