<h1>Data Type</h1>

> Elemental (int ,float, string, bool)

> Containers (list, tuple, set, dicitionary)

> --Operationa on a list--

<h1>List</h1>

1. List is ordered 
2. List is indexed
3. List Allows mutation
4. List Allows Duplicates

In [29]:
List = [1,2,3,"a",'b','c',7.5,True]

List2 = [5,6,7,'p','q','r', 10.5, False]


#Concat

print(List + List2)

#multiply by int will work

print(List * 3)

# in operator

print(2 in List)

#comapare

List < List2

#mutetion

print(List[2])

List[2] = 3.5

print(List)

[1, 2, 3, 'a', 'b', 'c', 7.5, True, 5, 6, 7, 'p', 'q', 'r', 10.5, False]
[1, 2, 3, 'a', 'b', 'c', 7.5, True, 1, 2, 3, 'a', 'b', 'c', 7.5, True, 1, 2, 3, 'a', 'b', 'c', 7.5, True]
True
3
[1, 2, 3.5, 'a', 'b', 'c', 7.5, True]

<h1>Tuple</h1> 

1. Tuple Allows Duplicates 
2. Tuple allows ordering 
3. Tuple allows Indexing 
4. Tuple dose not allows the Mutation

In [30]:
#Declartion of the tuples
Tuple = (1,2,3,4,5)
Tuple2 = (5,6,7,8,9)
Tuple3 = 10,11,12,13

print(Tuple,Tuple2,Tuple3)

# operations on Tuple
print(Tuple+Tuple2+Tuple3)

print(Tuple3 * 3)

(1, 2, 3, 4, 5) (5, 6, 7, 8, 9) (10, 11, 12, 13)
(1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13)
(10, 11, 12, 13, 10, 11, 12, 13, 10, 11, 12, 13)

<h1>Set</h1>

1. Set is unordered 
2. Set dose not allow duplicates 
3. Set dose not allow indexing 
4. Set dose not allow mutation

In [31]:
# declaration 

SET = {1,2,3,4}
SET2 = {4,5,6,7}

#operation 

#print(SET + SET2) #not Supported 

print(SET - SET2) #substraction
print(SET2 - SET)

print(2 in SET) #membership operator

print(SET < SET2) #comparsion operator
print(SET2 < SET)

{1, 2, 3}
{5, 6, 7}
True
False
False

<h1>Dictionary</h1>

1. Dictionary is ordered
2. Dictionary is Indexed (will search the values on basis of keys)
3. Dictionary is Semi-Mutable (Key is not Mutable but values is mutable) (it will overite the values of lastest one)
4. Dictionary is partially allows duplicates (Key is not duplicate but values can be duplicate)

In [32]:
Dict ={ 'A' : 1, 'B' : 2, 'C' : 3}
Dict2 = {1 : 'A', 2 : 'B' , 3 : 'C'}

#print(Dict / Dict2) # Arithmatic dose not work

print(2 in Dict2) # memebership Operators works

#print(Dict < Dict2) # comaparsion operators dose not works

#indexing 

print(Dict2[2])

#mutation

Dict2[3] = 10 # type: ignore

print(Dict2)

True
B
{1: 'A', 2: 'B', 3: 10}

<h1>Indexing in detail</h1> 

<b><i>classically used with LIST</i></b> 

--------Rules of indexing ------------
1. Indexing always starts with 0
2. for a range of index use ":" where end point dose not inculded
3. if start = 0 & end = Len then need not to be mentioned 
4. reverse indexing starts form back like -1,-2,-3 etc.
5. step is also availble using ":"

In [33]:
lst = [1,2,3,4,['Apple', 'Banana', 'coconut'],'Saurabh']

len(lst)

#calling multiple values form the List

print(lst[2:5])

#example indexing 
print(lst[2:])


print(lst[:4])

#Step Example 
print(lst[:])
print(lst[::2]) # this will skip the 2 records in a LIST
#checking the data types

print(type(lst[3]))

# double indexing 
print(lst[4][1])

#indexing on a List in list and getting the desired values 
print(lst[4][1][0:3])

#reverse Indexing 
print(lst[-1])

# step and reverse indexing 
print(lst[::-1])

[3, 4, ['Apple', 'Banana', 'coconut']]
[3, 4, ['Apple', 'Banana', 'coconut'], 'Saurabh']
[1, 2, 3, 4]
[1, 2, 3, 4, ['Apple', 'Banana', 'coconut'], 'Saurabh']
[1, 3, ['Apple', 'Banana', 'coconut']]
<class 'int'>
Banana
Ban
Saurabh
['Saurabh', ['Apple', 'Banana', 'coconut'], 4, 3, 2, 1]

<h1>Type casting</h1>

> type casting any thing to string is possible 

> number are mostly hard to type cast

In [34]:
#nu,m has data type of int 
num = 10
print(num)
print(type(num))

#converting nums data type from INT to FLOAT
num= float(num)
print(type(num))
print(num)

10
<class 'int'>
<class 'float'>
10.0

<H1> If Else </h1>

> conditonal 

>mutually exclusive 

>either will work it will not work simultenously

>if else are strict about the indentatoin 

> else is optional

> String will only trated as flase when its empty (null)

>Double is also allowed.

> List is also allowed (when list is non empty it will give the value true)

In [35]:
#noraml Comparison
if 2>1 :
    print('True')
else:
    print('False')

#variable comparison
a = 3
if a>5 :
    print('True')
else:
    print('False')

#equal comparison
b = 10
if b<15 :
    print('True')
elif b == 10:
    print('equal')
else:
    print('False')


#else is optional 
if True:
    print('True')

# using 0 and 1 as boolean values (All the non zero values are treated as true and it will work on string and double)

if 1:
    print('True')
else:
    print('Flase')

True
False
True
True
True

<h1>ELIF</h1>

> used when you want to add layers of conditions to the loop.

>it will stop at the first true condition and wont execute the later loops.

In [36]:
#elif for multiple layer to the equation 
b = 2
if b>15 :
    print('True')
elif b == 10:
    print('equal')
else:
    print('False')

False

<h1><b>New Data Type</b></h1>

<h2><b><u><i>None</i></u></b></h2>

>Datatype : NoneType

>equvalance : 0

>Treated as the null value

In [37]:
A = None

type(A)

NoneType

<h1>Nested Loops</h1>

>pass is operation & none is a datatype

In [38]:

#Example 1: Its o/p will be flase 
a = 5

if a >10:
    print('Hey')
    if 1:
        print('Hello')
    else:
        print('welcome')

else:
    print('Bye')

#example 2: it output will be True False

a = 12

if a >10:
    print('Hey')
    if 0:
        print('Hello')
    else:
        print('welcome')
else:
    print('Bye')


# Example 3: pass 

if True:
    pass
else:
    print(0)

Bye
Hey
welcome

|   For	|   While	|
|---	|---	|
| itarable to known numbers	|   	itarable for unknown numbers|
|   itarates over itrable items and sequence |   itarate till the conditions are flase	|
|   	increment happens automatically  	|increments are not automatic |
|  itarator is not needed to be defined 	|   initiazae a condition might be the requied	|
|   	|   	|

In [39]:
#Example 1:

lst = [10,20,30,40,50,60]

for i in lst:
    print(i)

print(" ")

#Example 2:
for char in "India":
    print(char)
print(" ")
#Example 3:
#This will only provides the keys 
dict = {"Name": "Saurabh", "Age" :25}
for i in dict:
    print(i)

#This will give the key value pair 
print(" ")
for i in dict.items():
    print(i)

#Example 4: 
# you cam extract 2 values at once
print(" ")
for key, Value in dict.items():
    print(key, Value)

print(" ")

10
20
30
40
50
60

I
n
d
i
a

Name
Age

('Name', 'Saurabh')
('Age', 25)

Name Saurabh
Age 25

<h1>Range</h1>

>it a generate function 

>output will not shown directly we need to type caste itno a list and set.

>Range works in 3 format range(5) #only the range , range(1,5) #start and stop range, range(1,5,2) #start stop and step

In [40]:
range(1,10)

#convarting range Into a List
a = list(range(1,10))
print(a)


#Adding Range and a sequences with arithmatic progression 
b = list(range(1,10,2))
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

<h1>Range and For Loop</h1>

In [41]:
#Example 1:
#printing the squre of numbers 
for i in range(1,11):
    print(i**2)

#Example 2:
print(" ")
for i in range(1,11):
    print("India")
print(" ")

#Example 3:
for i in range(1,10):
    if i%2 == 0:
        print(i,"is Even")
    else:
        print(i, "is Odd")
print(" ")

#example 4:

for i in range(3):
    for j in [a,b]:
        print(i,j)

1
4
9
16
25
36
49
64
81
100

India
India
India
India
India
India
India
India
India
India

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd

0 [1, 2, 3, 4, 5, 6, 7, 8, 9]
0 [1, 3, 5, 7, 9]
1 [1, 2, 3, 4, 5, 6, 7, 8, 9]
1 [1, 3, 5, 7, 9]
2 [1, 2, 3, 4, 5, 6, 7, 8, 9]
2 [1, 3, 5, 7, 9]

<h1>While Loop</h1>

In [13]:
#Example 1 :

a = 0 
while a<5 :
    print(a , end = " ")
    a= a+1

print()

#Example 2:
A = 0 
while A< 5:

    A=A+1
    print(A , end = ' ')

#Example 3:
print()
B = 10
print('Print Started......')
while B>5:
    B =B - 1
    print(B , end = " ")
else:
    print('\n Loop Ended......')

0 1 2 3 4
1 2 3 4 5
Print Started......
9 8 7 6 5
 Loop Ended